
#form_container
{
	padding:15px 15px;
	margin-top:15px;
	background: rgba(255,255,255,0.75);
}
body
{
	background-color: #FFFFFF;
	background-image: url("images/window-484596_1280.jpg");
	background-size: cover;
}

.btn {
	background-color: #2C3E50;
	color: white;
}
